@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";


.order-user-switcher {
  display: flex;
  justify-content: start;
  align-items: center;
  .spinner {
    visibility: hidden;
    &.loading {
      visibility: visible;
    }
  }
}
