{{#bs-navbar class="mb-4" toggleBreakpoint="sm" as |navbar|}}
  <a class="navbar-brand" href={{href-to "admin"}}>Fjärrkontrollen</a>
  {{navbar.toggle}}
  {{#navbar.content}}
    {{!perhaps should be just button, nav is semantically confusing}}
    {{#navbar.nav class="flex-grow-1" as |nav| }}
      {{#nav.item}}
        {{#bs-button type="link" onClick=(action "scan")}}
          <i class="fas fa-barcode"></i> Scanna streckkod
        {{/bs-button}}
      {{/nav.item}}
    {{/navbar.nav}}
    <div class="user">
      <span class="p-2 user-name">{{session.data.authenticated.name}}</span>
      {{#bs-button onClick=(action "logout")}}Logga ut{{/bs-button}}
    </div>
  {{/navbar.content}}
{{/bs-navbar}}
<div class="container-fluid">
  {{#if isShowingScanModal}}
  {{/if}}
  {{outlet}}
</div>
